/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------------------------------------------------------------CSS Reset-----------------------------------------------------------------------*/

html,
body{
  font-size: calc(60% + 0.8vmin);  
  scroll-behavior: smooth;
  scrollbar-width: thin;
}


body {
	color: #000;
	background-color: #fff;
    font-family: 'Raleway', sans-serif;	
}
/* preload images */
body::after {
	content: url(/images/dancer-bg.png)
			 url(/images/icon-logo.jpg)
			 url(/images/img-1.png)
			 url(/images/img-2.png)
			 url(/images/img-3.png)
			 url(/images/img-4.png)
			 url(/images/img-5.png)
			 url(/images/logo.png);

	display: none; 
}

/* scroll up button */
.top {
	float: right;
	position: sticky;
	bottom: 10px;     
	margin-right:10px; 
	place-self: end;
	margin-top: -4rem;
	cursor: pointer;
	
	/* visual styling */
	text-decoration: none;
	color: #ff5333;
	font-size: 1.5rem;
	white-space: nowrap;
	font-size: 3rem;
	border-radius: 50%;
	-webkit-tap-highlight-color: transparent;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
  }
  .hide-arrow {
	display: none;
  }

/* custom scrollbar */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	
}
  
::-webkit-scrollbar-track {
	background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
	background-color: #727272;

}
